<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static "CSS/zooStyles.css" %}" rel="stylesheet">
</head>
<body>

<div class="siteName"><a>Мій зоопарк</a></div>

<nav>
    <a href="/zoo"><img src="{% static "Images/zooImg.jpg" %}" alt="no pic"></a>
    <div class="upperRadius"><a href="/zoo" class="navbarTextLink firstLevelLink"> Головна </a>

        <div class="containerForInternalLinks">
            <div class="internalLink"><a href="/zoo/prices" class="navbarTextLink"> Ціни </a></div>
            <div class="internalLink"><a href="/zoo/rules" class="navbarTextLink"> Правила </a></div>
            <div class="internalLink"><a href="/zoo/history" class="navbarTextLink"> Історія </a></div>
            <div class="internalLink"><a href="/zoo/excursion" class="navbarTextLink"> Екскурсії
                з гідом </a></div>
            <div class="internalLink downRadius"><a href="/zoo/getAllExcursions" class="navbarTextLink"> all exc </a>
            </div>
        </div>

    </div>
    <div class="upperRadius downRadius"><a href="/zoo/news" class="navbarTextLink firstLevelLink"> Новини </a></div>
    <div class="upperRadius downRadius"><a href="" class="navbarTextLink firstLevelLink"> Наші тварини </a></div>
    <div class="upperRadius downRadius"><a href="" class="navbarTextLink firstLevelLink"> Контакти </a></div>
    <div class="upperRadius downRadius"><a href="" class="navbarTextLink firstLevelLink"> Про нас </a></div>
</nav>

<div class="textContainer">
    <table>
        <thead>
        <tr>
            <th>Дата екскурсії</th>
            <th>Час екскурсії</th>
            <th>Контактний телефон</th>
            <th>Кількість людей</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ excursion.date }}</td>
            <td>{{ excursion.time }}</td>
            <td>{{ excursion.phone }}</td>
            <td>{{ excursion.peopleAmount }}</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>