<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Історія зоопарку</title>
    <link href="{% static "CSS/zooStyles.css" %}" rel="stylesheet">
    <link href="{% static "Images/zooImg.jpg" %}" rel="icon">

</head>

<body>

<div class="siteName"><a>Мій зоопарк</a></div>

<nav>
    <a href="/zoo"><img src="{% static "Images/zooImg.jpg" %}" alt="no pic"></a>
    <div class="upperRadius currentPage"><a href="/zoo" class="navbarTextLink firstLevelLink"> Головна </a>

        <div class="containerForInternalLinks">
            <div class="internalLink"><a href="/zoo/prices" class="navbarTextLink"> Ціни </a></div>
            <div class="internalLink"><a href="/zoo/rules" class="navbarTextLink"> Правила </a></div>
            <div class="internalLink currentPage"><a href="/zoo/history" class="navbarTextLink"> Історія </a></div>
            <div class="internalLink downRadius"><a href="/zoo/excursion" class="navbarTextLink"> Екскурсії з гідом </a></div>
        </div>

    </div>
    <div class="upperRadius downRadius"><a href="/zoo/news" class="navbarTextLink firstLevelLink"> Новини </a></div>
    <div class="upperRadius downRadius"><a href="" class="navbarTextLink firstLevelLink"> Наші тварини </a></div>
    <div class="upperRadius downRadius"><a href="#" class="navbarTextLink firstLevelLink"> Контакти </a></div>
    <div class="upperRadius downRadius"><a href="#" class="navbarTextLink firstLevelLink"> Про нас </a></div>
</nav>

<div class="textContainer">
    <p class="text">
        «Зоологічний сад – це найцінніше з усіх засновництв Київського товариства любителів природи, його треба оберігати та прагнути до його розвитку».
        (зі звіту Товариства 1910 р.)

        «Зоологічний сад – не примха, не забава, не дозвільний задум дозвільних людей. Зоологічний сад – одна з необхідних науково-освітніх установ».

        (із «Каталогу Київського зоологічного саду 1911 р.» Шарлеманя)

        Київський зоологічний парк – це унікальний об’єкт, створений за ініціативою професорів Університету Святого Володимира та Політехнічного інституту, викладачів гімназій, лікарів, громадських діячів і багатьох любителів живої природи, які були членами Київського товариства любителів природи (КТЛП).

        Офіційним часом заснування зоопарку й початком його діяльності визнано 21 березня 1907 року, коли він отримав дозволи на оренду території для розміщення в ботанічному саду Університету Святого Володимира та на збирання коштів для утримання тварин.

        У травні 1909 року віцегубернатор М. М. Чихачов у відповідь на клопотання погодився встановити біля входу у звіринець у ботанічному саду «ящик для збору грошей на користь Товариства на утримання звірів і птахів, що знаходяться у звіринці». Після збору грошей на кінець 1909 року колекція зросла та налічувала вже 115 видів хребетних тварин загальною кількістю 398 екземплярів.

        Від перших днів свого існування зоопарк утримувався за благодійні кошти від приватних осіб і меценатів. Колекція поповнювалася здебільшого коштом диких тварин, від яких відмовлялись власники та коштом подарунків. Серед меценатів були: відомий підприємець О. Терещенко, цар Микола II, власник заповідника «Асканія-Нова» Ф. Фальц-Фейн, архітектор В. Городецький, художник С. Святославський, графиня М. Броцька та інші.

        У 1910 році правління Університету майже вдвічі збільшило відведену зоологічному саду ділянку і відтоді у розпорядженні Київського товариства любителів природи було вже півтора гектара.

        У зв’язку з тим, що на утримання зоосаду необхідно було виділяти все більше коштів, оскільки збільшувалась колекція тварин, міська влада з самого початку підтримувала зоопарк і двічі на рік виділяла субсидії – 1000 та 1500 царських рублів, хоч цього було і замало.

        16 травня 1912 року міська адміністрація виділила під розвиток зоопарку нове, більш придатне місце площею 16 десятин землі (23,2 га) в передмісті Шулявка напроти будівель Київського політехнічного інституту. Рельєф цієї місцевості був не придатний для будівництва житла, але найкраще підходив для розбудови території зоосаду. Складність рельєфу вдалося раціонально і вдало використати. У ярах викопали ставки для водоплавних птахів, на верхній території побудували загони, вольєри та клітки.

        Офіційне новосілля відбулося у квітні 1914 року, але подальшому розвитку зоопарку завадила Перша світова війна, а потім і громадянська війна. Попри величезні труднощі, ентузіастам вдалося зберегти колекцію тварин і все створене в зоопарку до кінця військових дій, які відбувалися у країні на початку XX століття.

        У 1919 році зоопарк переходить у власність новоствореної держави та отримує статус «Київський зоологічний парк». Першим офіційним директором було призначено секретаря Київського товариства любителів природи, одного з ініціаторів створення зоосаду – Венантія Андрійовича Бурдзинського.

        У двадцятих роках минулого століття починається справжній розквіт зоопарку. Колекція поповнюється рідкісними тваринами, ведеться наукова робота. У 1935 році за зоопарком нарешті закріплюють усю територію та огороджують її парканом; починають будувати слоновник і приміщення для мавп. Старі вольєри розширюють, поліпшують водопостачання та виділяють велику сінокісну ділянку. У закладі працює ветеринарна лікарня з кількома лабораторіями та відділеннями, ветеринарна аптека, палата попередніх лікувальних процедур і показова кузня.

        Передвоєнні роки були для зоопарку дуже успішними. Але фашистська окупація Києва скінчилася для зоосаду майже повним вивезенням тварин в Німеччину та руйнуванням.

        Одразу після звільнення Києва від німецьких окупантів, починаючи з листопада 1943 року, Київський зоологічний парк було нашвидку відремонтовано, і вже 10 квітня 1944 року він знову відкрився для відвідувачів.

        У 1966 році почалася довгострокова реконструкція зоопарку. Було збудовано новий центральний вхід з приміщеннями для кас і екскурсійного бюро та котельню, що забезпечила заклад теплом і гарячою водою. У грудні 1970 року закінчено будівництво сучасного павільйону для утримання птахів площею 2400 кв. м. 1972 року було відкрито акватераріум, 1976 – побудовано комплекс для утримання приматів площею 2700 кв. м, а у травні 1982 року відкрито «Острів звірів».

        У 1983 році постановою Ради Міністрів УРСР Київському зоопарку було надано статус Державного зоологічного парку і включено у мережу територій і об’єктів природно-заповідного фонду. В зоопарку активно формувалася експозиція з рідкісних і екзотичних видів тварин. Під керівництвом директора Сапьолкіна В. П., який працював у закладі понад 20 років до 1992 р., зоосад розвивався та став одним з найкращих на території СРСР, у ньому проводилась значна практична і наукова робота з вивчення тварин та розробці методик їх розведення.

        Роки так званого перехідного періоду з 1992 до 1997 були вкрай тяжкими по наслідках для колекції та колективу зоопарку. А починаючи з 1998 року, у зоопарку відбулися зміни, як позитивні, так і негативні, які торкнулися і керівництва й структури, і матеріально-технічної бази, та вплинули на стан і подальший розвиток Київського зоологічного парку.</p>
</div>

</body>
</html>