<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Новини</title>
    <link rel="stylesheet" href="CSS/zooStyles.css">
    <link href="Images/zooImg.jpg" rel="icon">

</head>

<body>

<div class="siteName"><a>Мій зоопарк</a></div>

<nav>
    <a href="main.html"><img src="Images/zooImg.jpg" alt="no pic"></a>
    <div class="upperRadius"> <a href="main.html" class="navbarTextLink firstLevelLink"> Головна </a>

        <div class="containerForInternalLinks">
            <div class="internalLink"><a href="prices.html" class="navbarTextLink"> Ціни </a></div>
            <div class="internalLink"><a href="rules.html" class="navbarTextLink"> Правила </a></div>
            <div class="internalLink"><a href="history.html" class="navbarTextLink"> Історія </a></div>
            <div class="internalLink downRadius"><a href="excursion.html" class="navbarTextLink"> Екскурсії з гідом </a></div>
        </div>

    </div>
    <div class="upperRadius downRadius currentPage"><a href="news.html" class="navbarTextLink firstLevelLink"> Новини </a></div>
    <div class="upperRadius downRadius"><a href="" class="navbarTextLink firstLevelLink"> Наші тварини </a></div>
    <div class="upperRadius downRadius"><a href="#" class="navbarTextLink firstLevelLink"> Контакти </a></div>
    <div class="upperRadius downRadius"><a href="#" class="navbarTextLink firstLevelLink"> Про нас </a></div>
</nav>

</body>

</html>